.app-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  animation: fadeIn var(--transition-normal);
}
